body{
    background: #E6E6E6;
}

nav{
    font-family: 'Abel', sans-serif;
}

.visual{
    font-family: 'Anton', sans-serif;
    font-size: large;
}

.from{
    font-family: 'Anton', sans-serif;
    font-size: large;
}

.circle1 {
    width: 150px;
    height: 150px;
    background-color: #e6563B;
    border: 10px solid #F0F0F0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}
.circle2 {
    width: 150px;
    height: 150px;
    background-color: #EB9d3a;
    border: 10px solid #F0F0F0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}

.circle3 {
    width: 150px;
    height: 150px;
    background-color: #7cb06c;
    border: 10px solid #F0F0F0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
}

.circle4 {
    width: 150px;
    height: 150px;
    background-color: #00aba9;
    border: 10px solid #F0F0F0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;

}

.card-footer ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.card-footer li {
    margin: auto;
    /*justify-content: flex-end;*/
    font-family: 'Abel', sans-serif;
}

.FP {
    text-align: left;
}

h6{
    font-family: 'Abel', sans-serif;
}

ul .smCircle {
    width: 18px;
    height: 18px;
    background-color: #e6563B;
    /*border: 10px solid #F0F0F0;*/
    color: black;
    font-size: 11px;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    /*justify-content: flex-start;*/
    font-family: 'Anton', sans-serif;
}

ul .smCircle2 {
    width: 18px;
    height: 18px;
    background-color: #EB9d3a;
    /*border: 10px solid #F0F0F0;*/
    color: black;
    font-size: 11px;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    /*justify-content: flex-start;*/
    font-family: 'Anton', sans-serif;
}

ul .smCircle3 {
    width: 18px;
    height: 18px;
    background-color: #00aba9;
    /*border: 10px solid #F0F0F0;*/
    color: black;
    font-size: 11px;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    /*justify-content: flex-start;*/
    font-family: 'Anton', sans-serif;

}

ul .smCircle4 {
    width: 18px;
    height: 18px;
    background-color: #7cb06c;
    /*border: 10px solid #F0F0F0;*/
    color: black;
    font-size: 11px;
    display: flex;
    justify-content: center;
    padding-top: 1px;
    /*justify-content: flex-start;*/
    font-family: 'Anton', sans-serif;
}

/*.last img{*/
/*    border: 5px solid lightgrey;*/

/*}*/

.card img{
    border: 10px solid #E6E6E6;
}

.last{
    margin-left: 5em;
}

.last h6{
    margin-bottom: 2em;
}

.phone{
    font-size: x-large;
    text-align: start;
    font-family: 'Anton', sans-serif;
}

.head{
    font-size: x-large;
    text-align: start;
    font-family: 'Anton', sans-serif;
}

.google{
    font-size: x-large;
    text-align: start;
    font-family: 'Anton', sans-serif;
}

.paragraph h5 {
    margin-bottom: 5px;
    text-align: left;
    font-family: 'Abel', sans-serif;

}

.paragraph p {
    width: 150%;
    text-align: start;
    font-family: 'Abel', sans-serif;

}

